.body {
  box-sizing: content-box;
}

.bgimage {
  background: url('/images/bg.jpg') no-repeat;
  background-size: cover;
  background-position: 0 32%;
  height: 200px;
  width: 100%;
}

.jumbotron {
  padding: 0;
}

footer {
  margin-top: 40px;
}